@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 150 20% 98%;
    --foreground: 160 50% 5%;

    --card: 0 0% 100%;
    --card-foreground: 160 50% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 160 50% 5%;

    --primary: 160 84% 39%;
    --primary-foreground: 160 10% 98%;

    --secondary: 142 72% 29%;
    --secondary-foreground: 0 0% 100%;

    --muted: 150 20% 94%;
    --muted-foreground: 160 10% 40%;

    --accent: 142 76% 36%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 150 20% 90%;
    --input: 150 20% 90%;
    --ring: 160 84% 39%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 160 5.3% 26.1%;

    --sidebar-primary: 160 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 150 4.8% 95.9%;

    --sidebar-accent-foreground: 160 5.9% 10%;

    --sidebar-border: 155 13% 91%;

    --sidebar-ring: 160 91.2% 59.8%;
  }

  .dark {
    --background: 160 50% 5%;
    --foreground: 150 10% 98%;

    --card: 160 40% 7%;
    --card-foreground: 150 10% 98%;

    --popover: 160 40% 7%;
    --popover-foreground: 150 10% 98%;

    --primary: 150 10% 98%;
    --primary-foreground: 160 84% 39%;

    --secondary: 142 30% 15%;
    --secondary-foreground: 150 10% 98%;

    --muted: 142 30% 15%;
    --muted-foreground: 150 10% 65%;

    --accent: 142 30% 15%;
    --accent-foreground: 150 10% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 142 30% 15%;
    --input: 142 30% 15%;
    --ring: 160 84% 39%;
    --sidebar-background: 160 50% 3%;
    --sidebar-foreground: 150 10% 98%;
    --sidebar-primary: 160 84% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 142 30% 15%;
    --sidebar-accent-foreground: 150 10% 98%;
    --sidebar-border: 142 30% 15%;
    --sidebar-ring: 160 84% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-hero-ship {
    background-image: url("/images/hero-ship.png");
  }

  .bg-dashboard-ship {
    background-image: url("/images/dashboard-ship.png");
  }

  .bg-tracking-tech {
    background-image: url("/images/tracking-bg.png");
  }
}